@charset "UTF-8";
body{  font-size: 16px;
background-color: #ddd;
}
h1{ font-size:28px; font-weight: bold;}
h2{ font-size:23px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
img{ max-width:100%;  }
#content{
  padding-top:20px;
  padding-bottom:20px;
    width: 90%;
    margin: auto;
}
footer{ background-color: #222; }
footer p{
  padding:15px 0;
  color: white;
}



/*■header のCSS*/
/* ヘッダー */
.navbar-default {
    background-color: black!important;
    color: #fff;
    font-weight: bold;
}
.navbar:before{
    content: none;
}

header {
    height: 90px;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 3;
}
header .wrapper{
    display: flex;
}
header img{
    margin: auto 0;
}
.header-nav{
    display: flex;
    justify-content: space-between;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.header-nav li:nth-child(2){
    position: relative;
}
header img{
    width: auto;
    height: 40px;
    vertical-align: middle;
}
header nav{
    margin-left: auto;
}
header a{
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
header .nav{
    height: 90px;
    padding: 35px 37px;
}
.sub{
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
}
.sub li{
    background-color: rgba(0,0,0,0.6);
    padding: 10px 0;
}
.sub a{
    font-size: 1.3rem;
}
header .button{
    position: relative;
    width: 242px;
}
header .button::before{
    content: "";
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    background: linear-gradient(45deg, #EC5E1E 0%, #D1163C 100%);
    transform: skewX(-25deg);
    padding: 45px 100px;
    z-index: -1;
}
header .button a{
    padding-top: 34px;
    display: block;
    height: 100%;
}





/*■index のCSS*/
/*ファーストビュー*/
.top-cover {
    padding-bottom: 20px;
}
.top-cover-inner {
    width: 90%;
    margin: auto;
}
a.categories {
    font-weight: bold;
    color: white;
}
.date-top {
    background-color: #555;
    color: white;
    padding: 5px;
    display: inline-block;
    margin-left: 20px;
}
.entry-title {
    color: white;
}

/*ファーストビュー以降（id="content"）の各タイトルなど*/
.tittle-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.tittle-section h2{
    font-weight: bold;
    margin-right: 20px;
}

/*サイドバーとのカラム分け
（id="content-wrap"）*/
#content-wrap {
    width: 100%;
    display: flex;
}
#latest{
    display: flex;
    width: calc(100% / 3 * 2  - 1%) ;
/*    width: 60%;*/
}
#sidebar{
    text-align: center;
    width: calc(100% / 3 - 1%) ;
    margin-left: 0.5%;
/*    width: 20%;*/
}

/*最新記事（id="latest"）*/

#latest{
  display: flex;
}
#latest ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    width: 100%;
}
#latest ul li{
    width: 49%;
    height: auto;
    margin-bottom: 20px;
    background-color: red;
}
#latest ul li:nth-child(odd){
    margin-right: 1%;
}






.wrapper-latest {
    position: relative;
    width: 100%; 
}
.wrapper-latest:before {
    content:"";
    display: block;
    padding-top: 75%;  /*    高さを幅の75%に固定 */
}
.content-latest{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("images/pickup.jpg");
    background-size: cover;
}

.img-latest {
    
}
